/* <section className="announcements">
<div className="container">
    <div className="announcements-content">
        <h3>Announcements</h3>

        <div className="announcements-cards">
            <p>There are no announcements at the moment.</p>
        </div>
    </div>

</div>

</section> */

.announcements {
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.announcements-content {
  text-align: center;
}

.announcements-content h3 {
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.announcements-content p {
  font-size: 18px;
  color: var(--primary-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .announcements-content h3 {
    font-size: 30px;
  }

  .announcements-content p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .announcements {
    margin: 0 2%;
  }

  .announcements-content h3 {
    font-size: 24px;
  }

  .announcements-content p {
    font-size: 14px;
  }
}